<% layout("./layouts/boilerplate.ejs") %>
<body class="sub_page">
  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img_container">
            <div class="img-box">
              <img src="images/about-img.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6 px-0">
          <div class="detail-box">
            <div class="heading_container ">
              <h2>
                Who Are We?
              </h2>
            </div>
            <p>
              Welcome to SecureNet, your trusted partner in professional security services. We are a dedicated team committed to ensuring the safety and protection of homes, offices, and individuals through trained and verified security personnel. <br>
             We aim to deliver reliable and responsive security solutions that give you peace of mind, 24/7.
            </p>
            <div class="btn-box">
              <a href="/services">
                View Our Services
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
</body>


