<% layout("./layouts/boilerplate.ejs") %>
<body class="sub_page">
  <!-- team section -->

  <section class="team_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Guards
        </h2>
        <p style="color:white;">
          At SecureNet we take pride in our team of highly trained, experienced, and background-verified security guards. Each guard is selected through a rigorous screening process and equipped to handle various environments—residential, corporate, or personal protection. <br>
          Our guards are not just vigilant, they’re professional, courteous, and committed to ensuring your safety at all times. Whether it's patrolling premises, managing access control, or responding to emergencies, you can rely on them to act swiftly and responsibly. <br>
          We believe that true security comes from trust and discipline—and that’s exactly what our guards bring with them, every single day.
        </p>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 mx-auto ">
          <div class="box">
            <div class="img-box">
              <img src="images/t1.jpg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Martin Anderson
              </h5>
              <h6 class="">
                supervisor
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mx-auto ">
          <div class="box">
            <div class="img-box">
              <img src="images/t2.jpg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Denny Butler
              </h5>
              <h6 class="">
                supervisor
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mx-auto ">
          <div class="box">
            <div class="img-box">
              <img src="images/t3.jpg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Nathan Mcpherson
              </h5>
              <h6 class="">
                supervisor
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="/allGuard">
          View All
        </a>
      </div>
    </div>
  </section>

  <!-- end team section -->
</body>