<% layout("./layouts/boilerplate") %>
<body>
    <div style="height: 8rem; width: 100%;"></div>
    <h4 style="font-size:larger; color:white;">ACCESS DENIED! Your enter wrong username or Password <a href="/login" style="color:yellow;font-size:medium;">Try again</a></h4>
    <div style="height: 8rem; width: 100%;"></div>
</body>
